html(lang="ko")
  head
    meta(charset="UTF-8")
  //- 다른 text도 섞어서 쓸 경우
  title #{pageTitle} | Wetube
  link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css")

  body 
    header
      //- 변수만 사용시
      h1=pageTitle
      nav 
        ul 
          li
            a(href="/") Home
          if loggedIn
            li
              a(href="/users/edit") Edit Profile
            li 
              a(href="/users/logout") Log Out
            li 
              a(href="/videos/upload") Upload Video
              
          //- not login
          else
            li
              a(href="/join") Join
            li
              a(href="/login") login
          li
            a(href="/search") Search


    main 
      block content
  include partials/footer.pug